body{

    background-color:blue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:gray;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}
a{
    color:slateblue;
}

nav ul{

    background-color: sandybrown;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: seashell;
    padding: 10px;
}

nav ul li{

    list-style-type:none;
    display: inline;
    margin: left 10px;
    color:papayawhip;
}

nav ul li a{

    color:olive;

    text-decoration: none;
}

div{

    position: relative;

    padding-bottom: 40% ;
}

table ,th ,td
{

    vertical-align: top;
    text-align: left;
    padding:5px;
    color:purple;
}

tr{
    background-color: palegoldenrod;
}

th,td{

    vertical-align: top;
    text-align: left;
    padding:5px;
    color:purple;
}

iframe{
    position:absolute;
    width: 100%;
    height:100%;
    border-radius: 10px;

}

img{

    border-radius: 10px;
}